body {
    font-family: 'Bangers', cursive;
    background-color: #98FB98;
    color: black;
}


h1 {
    font-size: 42px;
}

.gameRestart {
    background-color: #FF1493;
    padding: 2%;
    margin-top: 15%;
    width: 302px;

}

#board {
    padding: 3em;
    text-align: center;
}


.row {
    clear: both;
    margin: auto;
    width: 302px;
}

.row > div {
    float: left;
    height: 100px;
    width: 100px;
    cursor: pointer;
    font-size: 50px;
    line-height: 100px;
    
}

.row > div:hover {
    background-color: #FF1493;
}
.top {
    border-bottom: 1px solid black;
}

.bottom {
    border-top: 1px solid black;
}

.left {
    border-right: 1px solid black;
}

.right {
    border-left: 1px solid black;
}